<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <head>
            <style>
                    
            .center-container{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
            }
            </style>
        </head>
        <div class="center-container">

        <H1>
            Welcome to Progress Tracker
        </H1>
        <menu>

   
                <a href = "/login" class="btn btn-primary">Login</a>
          
                
   
   
                <a href ="/signup" class="btn btn-primary"> Signup</a>
          
               

           
                <a href = "/displayTopics" class="btn btn-primary">Display Topics</a>
           

       </menu>
       
    </div>
    </body>
</html>